{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create an Account</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <div class="auth-box register">
        <div class="header">
            <img src="{% static 'img/taskme.png' %}" alt="" class="logo">
            <p>Stop tasking others, TaskMe</p>
        </div>

        <div class="auth-form register">
            <div class="container">
                {% if status == 'REGISTER_FAILED' %}
                    <p class="error-msg"> The username you entered has been used.</p>
                {% endif %}
                <form action="" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input required name="username" type="text" class="form-control form-input" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input required name="first_name" type="text" class="form-control form-input" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <input required name="password" type="password" class="form-control form-input" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input required name="email" type="email" class="form-control form-input" placeholder="Email">
                    </div>
                    <button type="submit" class="btn btn-danger btn-block">REGISTER</button>
                </form>
                <a href="/login">Login Instead</a>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>